name: Node CI

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: yarn
      - name: npm install, lint, build, and test
        run: |
          yarn install --immutable
          yarn lint
          yarn build
          yarn test
        env:
          CI: true
